<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <input type="submit" name="" (click)="onClickLogin()" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Partner</a>
                </li>
            </ul>
            <form  [formGroup]="myUserForm" (ngSubmit)="onSubmit()"class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a User</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <input type="text" id="name" formControlName="name" placeholder="Name *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="text"  id="mobile" formControlName="mobile" placeholder="Mobile *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input  type="email" id="email" formControlName="email" placeholder="Email Id *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input  type="age" id="age" formControlName="age" placeholder="Age *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input  type="password" id="password" formControlName="password"  placeholder="Password *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <div class="maxl">
                                    <label class="radio inline mr-4"> 
                                        <input type="radio" name="gender" value="male" (click)="onGender('Male')" checked>
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline ml-4"> 
                                        <input type="radio" name="gender" (click)="onGender('Female')" value="female">
                                        <span>Female </span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <input type="email" id="country" formControlName="country" placeholder="Country *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" id="state" formControlName="state" placeholder="State *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" id="Address" formControlName="Address" placeholder="Address *" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input  type="targetInvestment" id="targetInvestment" formControlName="targetInvestment" placeholder="Target Investment" value="" />
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" id="password" formControlName="confirmpassword" placeholder="Confirm PassWord *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>